.study {
    color: var(--4);
    padding: 3rem;
    font-size: 1.6rem;
}

.study h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    text-align: center;
}

.study p {
    text-align: center;
}

.study h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 0;
}

.study .card {
    font-size: 1.3rem;
}

.study .card img {
    background-color: var(--2);
    padding: 0.4rem;
    min-width: 5rem;
    min-height: 5rem;
    border-radius: 15%;
}




.study-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.study-container .card {
    flex: 1 1 10rem;
    background-color: transparent;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid rgba(128, 128, 128, 0.389);
    transition: 0.5s ease;
}

.study .study-container .card h3 {
    padding: 1rem;
}

.study-container .card:hover {
    border-color: var(--2);
    transform: scale(1.02);
}

@media screen and (max-width: 520px) {   
    .study-container {
        flex-direction: column;
    }
}