.about {
    padding: 3rem;
    padding-top: 0;
    color: var(--4);
}

.about-content {
    font-size: 1.6rem;
    text-align: justify;
}

.about-content h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3rem;
    text-align: center;
}

/* .about-content p::after {
    content: "";
    display: inline-block;
    width: 100%;
} */